
{% include 'inc/header.html' %}
<div class="container-fluid">
        <div class="row-fluid">

            <!-- left menu  -->
            {% include 'inc/left-menu.html' %}
            <noscript>
                <div class="alert alert-block span10">
                    <h4 class="alert-heading">Warning!</h4>
                    <p>You need to have <a href="http://en.wikipedia.org/wiki/JavaScript" target="_blank">JavaScript</a> enabled to use this site.</p>
                </div>
            </noscript>

            <div id="content" class="span10">


            <div class="row-fluid">
                {% include 'inc/welcome.html' %}
            </div>

            <div class="row-fluid sortable">

            </div><!--/row-->
                    <!-- content ends -->
            </div><!--/#content.span10-->
                </div><!--/fluid-row-->

        <hr>

        {% include 'inc/modal.html' %}


{% include 'inc/footer.html' %}
