{% include 'inc/header.html' %}
<div class="container-fluid">
        <div class="row-fluid">
            <!-- left menu  -->
            {% include 'inc/left-menu.html' %}

            <noscript>
                <div class="alert alert-block span10">
                    <h4 class="alert-heading">Warning!</h4>
                    <p>You need to have <a href="http://en.wikipedia.org/wiki/JavaScript" target="_blank">JavaScript</a> enabled to use this site.</p>
                </div>
            </noscript>

            <div id="content" class="span10">

            <div class="row-fluid">
                <div class="box span12">
                    <div class="box-header well">
                        <h2><i class="icon-info-sign"></i>
                            Visualizar eventos de {{ this.events[0].nomeCompleto }}
                        </h2>
                    </div>
                    <div class="box-content">

                       {{ flash_messages('') }}
                       {% if this.events[0] %}
                        <h3>Eventos de {{ this.events[0].nomeCompleto }} - {{ this.events[0].email}} - {{ this.events[0].cpf }}</h3>
                       {% else %}
                        <h3>Usuário não está inscrito em nenhum evento</h3>
                       {% endif %}

                       <table class="table table-striped table-bordered bootstrap-datatable datatable">
                          <thead>
                              <tr>
                                  <th>Tipo</th>
                                  <th>Título</th>
                                  <th>Ações</th>
                              </tr>
                          </thead>
                          <tbody>
                            {% for event in this.events %}
                                 <tr>
                                     <td> {{ event.EventoNome }} </td>
                                     <td> {{ event.SubEventoNome }}</td>
                                     <td>
                                        <a class="btn btn-danger" href="/congressista/inscricao/del/id/{{ event.idInscricoes }}/idusuario/{{ this.idUsuario }}">
                                            <i class="icon-trash icon-white"></i>
                                            Remover Inscrição
                                        </a>
                                     </td>
                                 </tr>
                            {% endfor %}
                            </tbody>
                        </table>


                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>

                    <!-- content ends -->
            </div><!--/#content.span10-->
                </div><!--/fluid-row-->

        <hr>

        {% include 'inc/modal.html' %}


{% include 'inc/footer.html' %}


