{% include 'inc/header.html' %}

<div class="container-fluid">
        <div class="row-fluid">

            <!-- left menu  -->
            {% include 'inc/left-menu.html' %}

            <noscript>
                <div class="alert alert-block span10">
                    <h4 class="alert-heading">Warning!</h4>
                    <p>You need to have <a href="http://en.wikipedia.org/wiki/JavaScript" target="_blank">JavaScript</a> enabled to use this site.</p>
                </div>
            </noscript>

            <div id="content" class="span10">
              
            <!-- Se as submissoes para este evento estiverem desativadas -->
            {% if user.tipo == "PA" and this.id and "now" | date('Y-m-d') > this.evento_atual.deadline_inicial | date('Y-m-d') %}
                {% set readonlybool = true%}
                {% set readonlyarr = {'readonly' : 'readonly'} %}
                {% set readonly %}
                    disabled
                {% endset %}
              {% endif %}
            <div class="row-fluid">
                <div class="box span12">
                    <div class="box-header well">
                        <h2><i class="icon-info-sign"></i>
                        {% if this.author_id %}
                          {% if not readonlybool %}
                            Editar Submissão
                          {% else %}
                          Visualizar Submissão
                          {% endif %}
                        {% else %}
                          Submeter Trabalho
                        {% endif %}
                        </h2>
                    </div>
                    <div class="box-content">

                       {{ flash_messages('Erros no processamento do formulário') }}

                       {% if this.id %}
                          {%  set action = '/congressista/submissao/edit' %}
                       {% else %}
                          {%  set action = '/congressista/submissao/novo' %}
                       {% endif %}

                        <form method="POST" action="{{ action }}" class="form-horizontal" enctype="multipart/form-data">

                            <fieldset>
                              <input type="hidden" name="id" value="{{ this.id }}" />
                              {{ this.idUsuarios }}
                              <input type="hidden" name="author_id" value="{% if this.author_id %}
                                {{ this.author_id }}
                              {% else %}
                                {{ user._id }}
                              {% endif %}"/>

                              {% if this.eventos | length > 0 and get_meta('submissoes_ativas') == 1 %}
                                
                                 <div class="control-group">
                                  <label class="control-label" >Evento: </label>
                                    <div class="controls">
                                      <select name="idEventos" {{ readonly }}>
                                        {% for evento in this.eventos %}
                                          <option value="{{ evento.id }}"
                                          {% if this.idEventos == evento.id %}
                                            selected
                                          {% endif %}
                                          >{{ evento.nome }}</option>
                                        {% endfor %}
                                      </select>
                                    </div>
                                  </div>
                                  {{ form_input("Título do Trabalho", 'titulo_trabalho', 'text', this.titulo_trabalho, readonlyarr )  }}
                                   <div class="control-group">
                                   <label class="control-label" >Autores: </label>
                                    <div class="controls">
                                      <select style="300px" name="autores[]" class="multi-select" multiple="" {{ readonly }}>
                                        {% for _user in this.users %}
                                          {% if _user.id != user._id %}
                                            <option value="{{ _user.id }}" 
                                              {% if _user.id in this.autores %}
                                                selected
                                              {% endif %}
                                             >
                                             {{ _user.nomeCompleto }}
                                           </option>
                                          {% endif %}
                                        {% endfor %}
                                      </select> 
                                      <span class="help-inline">Selecione os autores além de você.</span>
                                    </div>
                                  </div>
                                  {% if not readonlybool %}
                                    {{ form_input("Trabalho (blind review)", 'file_arquivo_inicial', 'file'," Somente arquivos .pdf")  }}
                                  {% endif %}
                                  
                                  {% if this.arquivo_inicial  %}
                                    <div class="control-group">
                                     <label class="control-label" >Arquivo enviado: </label>
                                      <div class="controls">
                                        <a target="_blank" class="btn" href="/uploads/artigos/{{ this.arquivo_inicial }}">Baixar arquivo</a>
                                        <span class="help-inline">Baixe o arquivo que você enviou, para sobrescrever seu arquivo, basta enviar novamente o artigo.</span>
                                      </div>
                                    </div>
                                  {% endif %}
                                  
                                  {% if readonlybool and this.id %}
                                    <div class="control-group">
                                     <label class="control-label" >Status: </label>
                                      <div class="controls">
                                        
                                      {% if thisstatus == 'AG' %}
                                            <span class="label label-warning">Em Análise</span>
                                      {% elseif this.status == "AP" %}
                                            <span class="label label-success">Aprovado</span>
                                      {% else %}
                                            <span class="label label-trash">Reprovado</span>
                                      {% endif %}
                                        
                                      </div>
                                    </div>
                                  {% endif %}

                                  {% if user.tipo == "AD" %}
                                    <div class="control-group">
                                        <label class="control-label" for="comentarios">Comentários </label>
                                        <div class="controls">
                                          <textarea class="cleditor" name='comentarios' style="width: 400px;height:150px;" id='comentarios'>{{ this.comentarios }}</textarea>
                                        </div>
                                    </div>
                                  {% endif %}

                                  {% if user.tipo == "PA" and this.comentarios %}
                                    <div class="control-group">
                                        <label class="control-label" for="comentarios">Comentários </label>
                                        <div class="controls">
                                          {{ this.comentarios | raw }}
                                        </div>
                                    </div>
                                    
                                  {% endif %}
                                  
                                  {% if ( this.status == "AP" and "now" | date('Y-m-d') <= this.evento_atual.deadline_final | date('Y-m-d') ) 
                                  %}  
                                  
                                    {{ form_input("Trabalho (versão final)", 'file_arquivo_final', 'file'," Somente arquivos .pdf")  }}

                                  {% endif %}
                                  {% if this.arquivo_final  %}
                                    <div class="control-group">
                                     <label class="control-label" >Arquivo enviado: </label>
                                      <div class="controls">
                                        <a target="_blank" class="btn" href="/uploads/artigos/{{ this.arquivo_final }}">Baixar arquivo</a>
                                        <span class="help-inline">Baixe o arquivo que você enviou, para sobrescrever seu arquivo, basta enviar novamente o artigo.</span>
                                      </div>
                                    </div>
                                  {% endif %}
                                  {% if not readonlybool or ( this.status == "AP" and "now" | date('Y-m-d') <= this.evento_atual.deadline_final | date('Y-m-d') ) %}
                                    <div class="form-actions">
                                      <button type="submit" class="btn btn-primary">Submeter</button>
                                    </div>
                                  {% endif %}


                            {% else %}
                              <p>Não existem submissões disponívels para você neste momento.</p>
                            {% endif %}

                            </fieldset>

                          </form>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>

                    <!-- content ends -->
            </div><!--/#content.span10-->
                </div><!--/fluid-row-->

        <hr>

        {% include 'inc/modal.html' %}


{% include 'inc/footer.html' %}
