{% include 'inc/header.html' %}
<div class="container-fluid">
        <div class="row-fluid">

            <!-- left menu  -->
            {% include 'inc/left-menu.html' %}

            <noscript>
                <div class="alert alert-block span10">
                    <h4 class="alert-heading">Warning!</h4>
                    <p>You need to have <a href="http://en.wikipedia.org/wiki/JavaScript" target="_blank">JavaScript</a> enabled to use this site.</p>
                </div>
            </noscript>

            <div id="content" class="span10">

            <div class="row-fluid">
                <div class="box span12">
                    <div class="box-header well">
                        <h2><i class="icon-info-sign"></i>
                        {% if this.id %}
                          Alterar Sub-Evento
                        {% else %}
                          Cadastro de Sub-Evento
                        {% endif %}
                        </h2>
                    </div>
                    <div class="box-content">

                       {{ flash_messages('Erros no processamento do formulário') }}

                       {% if this.id %}
                          {%  set action = '/admin/subevento/edit' %}
                       {% else %}
                          {%  set action = '/admin/subevento/novo/ideventos/' ~ this.idEventos %}
                       {% endif %}

                        <form method="POST" action="{{ action }}" class="form-horizontal">

                            <fieldset>

                              <input type="hidden" name="id" value="{{ this.id }}" />
                              <div class="control-group">
                                <label class="control-label" >Tipo de Evento: </label>
                                  <div class="controls">
                                    <select name="idEventos">
                                      {% for evento in this.eventos %}
                                        <option value="{{ evento.id }}"
                                        {% if this.idEventos == evento.id %}
                                          selected
                                        {% endif %}
                                        >{{ evento.nome }}</option>
                                      {% endfor %}
                                    </select>
                                  </div>
                                </div>

                              {{ form_input("Título", 'nome', 'text', this.nome)  }}
                              <div class="control-group">
                                <label class="control-label" for="descricao">Descrição: </label>
                                <div class="controls">
                                  <textarea class="cleditor" name='descricao' style="width: 400px;height:150px;" id='descricao'>{{ this.descricao }}</textarea>
                                </div>
                              </div>
                              {{ form_input("Número de Vagas", 'nVagas', 'text', this.nVagas, {'class' : 'input-small focused'}, 'Digite -1 para vagas ilimitadas') }}


                              <div class="form-actions">
                                <button type="submit" class="btn btn-primary">Salvar</button>

                              </div>

                            </fieldset>

                          </form>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>

                    <!-- content ends -->
            </div><!--/#content.span10-->
                </div><!--/fluid-row-->

        <hr>

        {% include 'inc/modal.html' %}


{% include 'inc/footer.html' %}

