{% include 'inc/header.html' %}
<div class="container-fluid">
        <div class="row-fluid">

            <!-- left menu  -->
            {% include 'inc/left-menu.html' %}

            <noscript>
                <div class="alert alert-block span10">
                    <h4 class="alert-heading">Warning!</h4>
                    <p>You need to have <a href="http://en.wikipedia.org/wiki/JavaScript" target="_blank">JavaScript</a> enabled to use this site.</p>
                </div>
            </noscript>

            <div id="content" class="span10">

            <div class="row-fluid">
                <div class="box span12">
                    <div class="box-header well">
                        <h2><i class="icon-info-sign"></i> Lista de Usuários </h2>
                    </div>
                    <div class="box-content">
                        {{ flash_messages('Erro') }}

                        <a href="/admin/reports/users" class="btn btn-primary">Imprimir Lista de Presença</a>
                        <a href="/admin/reports/certificadosusers" class="btn btn-primary">Imprimir Lista de Certificados</a>
                        <a href="/admin/reports/email" class="btn btn-primary">Export emails</a>
                        <a href="/admin/reports/email_inscritos" class="btn btn-primary">Export Inscritos</a>
                        <a href="/admin/reports/email_nao_inscritos" class="btn btn-primary">Export Não Inscritos</a>
                        
                        <br /> <br />
                        <table class="table table-striped table-bordered bootstrap-datatable datatable">
                          <thead>
                              <tr>
                                  <th>#ID</th>
                                  <th>Nome</th>
                                  <th>CPF</th>
                                  <th>Tipo</th>
                                  <th>Status</th>
                                  <th>Data de Registro</th>
                                  <th>Último Login</th>
                                  <th>Ações</th>
                              </tr>
                          </thead>
                          <tbody>
                            {% for user in this.users %}
                                {% set style = '' %}
                                {% if user.presence == 1 %}
                                    {% set style = 'background-color: green;color:#FFF;' %}
                                {% endif %}
                                <tr >
                                    <td style="{{ style }}"> {{ user.id }}</td>
                                    <td width="150">{{ user.nomeCompleto }}</td>
                                    <td class="center">{{ user.cpf }} </td>
                                    <td class="center">
                                        {% if user.tipo == 'AD' %}
                                            <span class="label label-success">Administrador</span>
                                        {% endif %}
                                        {% if user.tipo == 'PA' %}
                                            <span class="label label-error">Participante</span>
                                        {% endif %}

                                    </td>
                                    <td class="center">
                                        {% if user.status == 'PG' and user.tipo == 'PA' %}
                                            <span class="label label-success">Pago</span>
                                        {% endif %}
                                        {% if user.status == 'AP' and user.tipo == 'PA' %}
                                            <a href="/admin/user/confirmpg/id/{{user.id}}">
                                                <span class="label label-error">Pgt Pendente</span>
                                            </a>
                                        {% endif %}
                                    </td>
                                    <td>{{ user.created }}</td>
                                    <td>{{ user.lastLogin }}</td>
                                    <td width="300" class="center">
                                        {% if user.tipo == 'PA' %}
                                            <a class="btn btn-success" href="/congressista/inscricao/viewuserevents/idusuario/{{ user.id }}">
                                                <i class="icon-zoom-in icon-white"></i>
                                                Ver
                                            </a>
                                        {% endif %}
                                        <a class="btn btn-info" href="/admin/user/edit/id/{{ user.id }}">
                                            <i class="icon-edit icon-white"></i>
                                            Edit
                                        </a>
                                        <a class="btn btn-danger btn-setting" href="/admin/user/del/id/{{ user.id }}">
                                            <i class="icon-trash icon-white"></i>
                                            Del
                                        </a>
                                        {% if user.tipo == 'PA' %}
                                         <a class="btn btn-warning btn-setting" href="/admin/user/passwordreset/id/{{ user.id }}">
                                            <i class="icon-edit icon-white"></i>
                                            Senha
                                        </a>
                                         <a class="btn btn-info " href="/admin/user/presence/id/{{ user.id }}">
                                            <i class="icon-edit icon-white"></i>
                                            Presença
                                        </a>
                                        {% endif %}
                                        {% if user.payment_receipt %}
                                        <a target="_blank" class="btn btn-warning" href="/uploads/{{ user.payment_receipt }}" >
                                            Comprovante
                                        </a>
                                        {% endif %}
                                    </td>
                                </tr>
                            {% endfor %}
                          </tbody>
                      </table>
                       <a href="/admin/user/novo"<button class="btn btn-primary">Criar Novo Usuário </a>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>

                    <!-- content ends -->
            </div><!--/#content.span10-->
                </div><!--/fluid-row-->

        <hr>

        {% include 'inc/modal.html' %}


{% include 'inc/footer.html' %}


