<div class="box span6">
    <div class="box-header well" data-original-title>
        <h2><i class="icon-list"></i> Estatísticas</h2>
        <div class="box-icon">
            <a href="#" class="btn btn-minimize btn-round"><i class="icon-chevron-up"></i></a>
        </div>
    </div>
    <div class="box-content">
        <ul class="dashboard-list">
          {% for key in this.estatisticas|keys %}
            <li>
              <a href="#">
                <i class="icon-minus"></i>
                <span class="blue">{{ this.estatisticas[key] }}</span>
                {{ key }}
              </a>
            </li>
          {% endfor %}
        </ul>
    </div>
</div><!--/span-->
